@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
	font-family: "Times New Roman", Times, serif;
	box-sizing: border-box;
}

:root {
	--grey: #F1F0F6;
	--dark-grey: #8D8D8D;
	--light: #fff;
	--dark: #000;
	--green: #81D43A;
	--light-green: #E3FFCB;
	--blue: #1775F1;
	--light-blue: #D0E4FF;
	--dark-blue: #0C5FCD;
	--red: #FC3B56;
}

html,
body {
	overflow-x: hidden;
	height: 100%;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.background-image {
	background-image: url('../images/background.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	z-index: 1;
}

/* SIDEBAR */
#sidebar {
	position: fixed;
	max-width: 260px;
	width: 100%;
	background: var(--light);
	top: 0;
	left: 0;
	height: 92.5%;
	overflow-y: auto;
	scrollbar-width: none;
	transition: all .3s ease;
	z-index: 200;
	margin: 30px;
	border-radius: 8px;
	border: 3px solid var(--dark-blue);
}

#sidebar.hide {
	max-width: 60px;
}

#sidebar.hide:hover {
	max-width: 260px;

}

#sidebar::-webkit-scrollbar {
	display: none;
}

#sidebar .brand {
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
	font-weight: 700;
	color: var(--blue);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
	transition: all .3s ease;
	background: var(--light);
	text-decoration: none;
}

#sidebar .note {
	font-size: 13px;
	color: var(--blue);
	margin-top: -18px;
	margin-left: 55px;
	z-index: 100;
	background: var(--light);
	position: fixed;
	opacity: 0.4;
	text-decoration: none;
}

#sidebar .icon {
	min-width: 58px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 6px;
}

#sidebar .icon-right {
	margin-left: auto;
	transition: all .3s ease;
}

#sidebar .side-menu {
	margin: 36px 0;
	padding: 0 20px;
	transition: all .3s ease;
}

#sidebar.hide .side-menu {
	padding: 0 6px;
}

#sidebar.hide:hover .side-menu {
	padding: 0 20px;

}

#sidebar .side-menu a {
	display: flex;
	align-items: center;
	font-size: 14px;
	color: var(--dark);
	padding: 12px 16px 12px 0;
	transition: all .3s ease;
	border-radius: 10px;
	margin: 4px 0;
	white-space: nowrap;
}

#sidebar .side-menu>li>a:hover {
	background: var(--grey);
	text-decoration: none;
}

#sidebar .side-menu>li>a.active .icon-right {
	transform: rotateZ(90deg);
}

#sidebar .side-menu>li>a.active,
#sidebar .side-menu>li>a.active:hover {
	background: var(--blue);
	color: var(--light);
}

#sidebar .divider {
	margin-top: 24px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	color: var(--dark-grey);
	transition: all .3s ease;
	white-space: nowrap;
}

#sidebar.hide:hover .divider {
	text-align: left;
}

#sidebar.hide .divider {
	text-align: center;
}

#sidebar .side-dropdown {
	padding-left: 54px;
	max-height: 0;
	overflow-y: hidden;
	transition: all .15s ease;
}

#sidebar .side-dropdown.show {
	max-height: 1000px;
}

#sidebar .side-dropdown a:hover {
	color: var(--blue);
}

#sidebar .ads {
	width: 100%;
	padding: 20px;
}

#sidebar.hide .ads {
	display: none;
}

#sidebar.hide:hover .ads {
	display: block;
}

#sidebar .ads .wrapper {
	background: var(--grey);
	padding: 20px;
	border-radius: 10px;
}

#sidebar .btn-upgrade {
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 0;
	color: var(--light);
	background: var(--blue);
	transition: all .3s ease;
	border-radius: 5px;
	font-weight: 600;
	margin-bottom: 12px;
}

#sidebar .btn-upgrade:hover {
	background: var(--dark-blue);
}

#sidebar .ads .wrapper p {
	font-size: 12px;
	color: var(--dark-grey);
	text-align: center;
}

#sidebar .ads .wrapper p span {
	font-weight: 700;
}

/* SIDEBAR */


/* SEARCHBAR */


.searchbar {
	position: fixed;
	max-height: 44px;
	max-width: 650px;
	width: 100%;
	height: 100%;
	background: var(--light);
	z-index: 200;
	border-radius: 8px;
	border: 3px solid var(--dark-blue);
	display: flex;
	margin: 30px 0 0 430px;
	padding: 1px 0 0 5px;
}

.searchbar input {
	border: none;
	width: 650px;
	max-height: 40px;
}

.searchbar input:focus {
	outline: none;
}

.searchbar .textsearch {
	font-size: 15px;
	margin-left: 8px;
}

.functionuser {
	float: right;
	margin: 30px 40px 0 0;
}

.functionusers {
	display: flex;
}

.functionusers .image-function {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin: 0 0 8px 30px;
}

.functiondrop {
	padding: 3px 0 2px 0;
	position: fixed;
	background-color: var(--light-blue);
	border-radius: 3px;
	display: none;
	z-index: 3;
}

.functiondrop a:hover {
	background-color: var(--light);
	color: var(--dark-blue);
	border-radius: 4px;
	width: 95%;
	margin-left: 3px;
}

.content {
	position: fixed;
	flex-wrap: wrap;
	display: flex;
	max-height: 580px;
	max-width: 1165px;
	width: 100%;
	height: 100%;
	background: var(--light);
	border-radius: 8px;
	border: 3px solid var(--dark-blue);
	margin: 90px 0 0 330px;
	z-index: 2;
	overflow-y: auto;
	scrollbar-width: none;
}

.content .data {
	margin: 8px;
	width: 120px;
	height: 120px;
	border: 1px solid #ccc;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content .data .name-data {
	height: 10%;
	text-align: center;
	margin-bottom: 2px;
	text-decoration: underline;
}

.function-data {
	display: none;
	justify-content: center;
	justify-content: space-around;
	gap: 20px;
	margin-top: -24px;
}

.data:hover .function-data {
	display: block;
}

.function-data a {
	padding: auto;
	background-color: blanchedalmond;
	border-radius: 3px;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
}

.face-data .media-container img,
.face-data .media-container video,
.face-data .media-container file {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
	border-radius: 10px
}

footer {
	position: fixed;
	color: #FC3B56;
	margin-top: 670px;
	margin-left: 1100px;
}

.contentGroup {
	margin-top: 70px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 2px;
	border-radius: 8px;
	box-sizing: border-box;
}

.dataChat,
.dataGroup {
	overflow: hidden;
	flex: 1;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	max-height: 500px;
}

.dataChat {
	margin-right: 10px;
}

.dataGroup {
	margin-left: 10px;
}

.dataChat h5,
.dataGroup h5 {
	position: sticky;
	text-align: center;
	border-bottom: 2px solid #ccc;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.avatarGroup {
	margin-right: 20px;
	height: 40px;
	width: 40px;
	object-fit: cover;
	border-radius: 50%;
}

.list-messages {
	flex: 1;
	overflow-y: auto;
	scrollbar-width: none;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 8px;
	margin-bottom: 10px;
	max-height: 370px;
}

.avatarUser {
	height: 30px;
	width: 30px;
	border-radius: 50%;
}

.left-message,
.right-message {
	display: flex;
	align-items: flex-start;
	gap: 10px;
	flex-wrap: wrap;
}

.left-message {
	align-self: flex-start;
}

.right-message {
	align-self: flex-end;
	flex-direction: row-reverse;
}

.message-content {
	background-color: #f1f1f1;
	/* Màu nền của nội dung tin nhắn */
	padding: 10px 0;
	border-radius: 10px;
	max-width: 60%;
	/* Giới hạn chiều rộng của tin nhắn */
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.messageTime {
	font-size: 10px;
	color: #888;
	margin-top: 5px;
	text-align: right;
}

.messageUser {
	margin: 2px 3px;
	padding: 2px 6px;
	border-radius: 7px;
	background-color: #f0f0f0;
	font-size: 16px;
	display: inline-block;
	height: auto;
	width: auto;
	max-width: 65%;
	word-wrap: break-word;
	word-break: break-word;
}

/* CSS for the message input and send button */
.message-base {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 10px;
	border-top: 1px solid #ccc;
	background-color: #fff;
	border-radius: 0 0 10px 10px;
	position: fixed;
	width: 100%;
	max-width: 548px;
	bottom: 32px;
}

.message-content {
	flex: 1;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 10px;
	outline: none;
	font-size: 14px;
	width: 80%;
	max-width: 500px;
}

.message-send {
	width: 35px;
	height: 35px;
	background-color: #4CAF50;
	/* Green background */
	color: white;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	transition: background-color 0.3s ease;
}

.message-send:hover {
	background-color: #45a049;
	/* Darker green */
}

.data-images,
.data-files,
.data-videos,
.data-link {
	overflow-y: auto;
	scrollbar-width: none;
	display: none;
	flex-wrap: wrap;
}

.data-images.active,
.data-files.active,
.data-videos.active {
	display: block;
	display: flex;

}

.data-link.active {
	display: block;
}

/* Tabs */
.search-data{
	border-radius: 8px;
	border: 1px solid #ccc;
	padding: 4px;
	width: 80%;
	height: 40px;
	margin: 5px;
}
.search-data i{
	font-size: 26px;
}
.search-data .search-word{
	border: none;
	padding: 5px;
	background: none;
	width: 80%;
	height: 40px;
}
.search-data .search-word:focus {
    outline: none;
}
.tabs {
	display: flex;
	position: sticky;
	justify-content: space-around;
	border-bottom: 2px solid #ccc;
	margin-bottom: 10px;
	padding-bottom: 8px;
}

.tab {
	cursor: pointer;
	transition: background 0.3s ease;
	height: auto;
	width: 100px;
	text-align: center;
	border-radius: 8px;
}

.tab:hover {
	background: #f0f0f0;
}

.tab.active {
	background: #ccc;
}

.data-link div {
	padding: 5px;
	border-bottom: 1px solid #ccc;
}

.data-link div:last-child {
	border-bottom: none;
}